*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(135deg,#ff00cc,#3333ff);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* celular */
.phone{
width:340px;
height:640px;
background:white;
border-radius:25px;
overflow-y:auto;
box-shadow:0 15px 30px rgba(0,0,0,0.3);
}

/* pantallas */
.screen{
display:none;
padding:20px;
text-align:center;
}

.active{
display:block;
}

/* encabezado */
header{
margin-bottom:10px;
}

h1{
font-size:28px;
color:#ff0080;
}

h2{
color:#6a00ff;
}

.alumno{
font-size:14px;
color:#555;
}

/* imagen */
.main-img{
width:100%;
max-height:220px;
object-fit:cover;
border-radius:15px;
margin:15px 0;
}

/* tarjetas */
.card{
background:#f7f7f7;
border-left:6px solid #ff0080;
padding:12px;
margin:12px 0;
border-radius:10px;
text-align:left;
}

/* botones */
.menu button{
width:100%;
padding:12px;
margin:8px 0;
border:none;
border-radius:12px;
background:#ff0080;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.menu button:hover{
background:#d6006c;
}

/* boton regresar */
.back{
margin-top:15px;
padding:10px 20px;
border:none;
border-radius:10px;
background:#6a00ff;
color:white;
cursor:pointer;
}

.back:hover{
background:#4c00b3;
}
